@import "reset.css";
$main: #FF641D;
$dark: #4D4D4D;
@mixin animation {
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: all;
}

@mixin placeholder {
     ::-webkit-input-placeholder {
        @content
    }
     :-moz-placeholder {
        @content
    }
     ::-moz-placeholder {
        @content
    }
     :-ms-input-placeholder {
        @content
    }
}

html {
    background-color: #FCFCFC;
}

nav {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff!important;
    div {
        display: flex;
        flex-direction: row;
        a {
            margin-left: 3em;
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 1em;
            color: $dark;
            text-decoration: none;
            @include animation;
            &:hover {
                color: $main;
            }
        }
    }
}

.loader {
    z-index: 999;
    $i: 0;
    @while $i < 3 {
        #orbit#{$i} {
            @extend .orbit;
            animation-delay: -$i+s;
        }
        #pos#{$i} {
            @extend .pos;
            animation-delay: -$i+s;
        }
        #dot#{$i} {
            @extend .dot;
            animation-delay: -$i+s;
        }
        $i: $i+1;
    }
    #universe {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fafafa!important;
    }
    #galaxy {
        transform: rotateX(75deg);
        transform-style: preserve-3d;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .circle {
        border-radius: 50%;
        border: 1px solid #FF641D;
        width: 1em;
        height: 1em;
        margin-top: -.5em;
        margin-left: -.5em;
        -webkit-animation: spinner 1.5s infinite ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotateX(-75deg);
    }
    .circle2 {
        border-radius: 50%;
        border: 1px solid #FF641D;
        width: 1em;
        height: 1em;
        margin-top: -.5em;
        margin-left: -.5em;
        -webkit-animation: spinner2 2s infinite ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotateX(-75deg);
    }
    .circle3 {
        border-radius: 50%;
        border: 1px solid #FF641D;
        width: 1em;
        height: 1em;
        margin-top: -.5em;
        margin-left: -.5em;
        -webkit-animation: spinner3 2.5s infinite ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotateX(-75deg);
    }
    .orbit {
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left: 50%;
        animation-name: orbit;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        width: 8em;
        height: 8em;
        margin-top: -4em;
        margin-left: -4em;
        border-radius: 50%;
    }
    .pos {
        position: absolute;
        width: 2em;
        height: 2em;
        margin-left: -1em;
        margin-top: -1em;
        animation-name: invert;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        left: 50%;
        top: -1px;
    }
    .dot {
        background-color: #FF641D;
        width: .5em;
        height: .5em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -.25em;
        margin-left: -.25em;
        border-radius: 50%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    /* Planet animation durations */
    .orbit,
    .pos {
        animation-duration: 3s;
    }
    .circle {
        font-size: 6em;
    }
    .circle2 {
        font-size: 5em;
    }
    .circle3 {
        font-size: 4em;
    }
    .dot {
        font-size: 0.2em;
    }
    @keyframes orbit {
        0% {
            transform: rotateZ(0deg);
        }
        100% {
            transform: rotateZ(-360deg);
        }
    }
    @keyframes invert {
        0% {
            transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
        }
        100% {
            transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
        }
    }
    @keyframes spinner {
        0% {
            -webkit-transform: rotate3d(1, 0, 1, 0deg);
        }
        50% {
            -webkit-transform: rotate3d(1, 0, 1, 180deg);
        }
        100% {
            -webkit-transform: rotate3d(1, 0, 1, 360deg);
        }
    }
    @keyframes spinner2 {
        0% {
            -webkit-transform: rotate3d(0, 1, 1, 0deg);
        }
        50% {
            -webkit-transform: rotate3d(0, 1, 1, 180deg);
        }
        100% {
            -webkit-transform: rotate3d(0, 1, 1, 360deg);
        }
    }
    @keyframes spinner3 {
        0% {
            -webkit-transform: rotate3d(1, 1, 0, 0deg);
        }
        50% {
            -webkit-transform: rotate3d(1, 1, 0, 180deg);
        }
        100% {
            -webkit-transform: rotate3d(1, 1, 0, 360deg);
        }
    }
}

header {
    text-align: center;
    padding: 5em;
    background: url(res/search_background.jpg);
    h1 {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 2em;
        color: #fff;
    }
    @include placeholder {
        opacity: 0.5;
        font-family: 'Open Sans';
        font-size: 14px;
        color: $dark;
    }
    input[type="text"] {
        background: #FFFFFF;
        box-shadow: 0 10px 20px 0 rgba(175, 175, 175, 0.35);
        border-radius: 2px;
        padding: 1.5em 2.5em;
        border: none;
        margin-top: 4em;
        width: 25%;
        @include animation;
        &:focus {
            outline: none;
            transform: scale(1.05);
        }
    }
}

.category {
    display: flex;
    margin: 7em 10%;
    flex-direction: row;
    justify-content: space-between;
    .info {
        width: 60%;
        h2 {
            font-family: 'Open Sans';
            font-size: 1.5em;
            color: #FF5000;
            margin-bottom: 1em;
        }
        h3 {
            font-family: 'Open Sans';
            font-size: 0.9em;
            color: $dark;
            line-height: 24px;
            margin-bottom: 2em;
        }
        a {
            text-decoration: none;
            padding: 1em;
            font-family: 'Open Sans';
            font-size: 0.8em;
            font-weight: 700;
            color: #FFFFFF;
            background-color: $main;
            display: inline-block;
            border-radius: 2px;
        }
    }
}

.category:nth-child(even) {
    flex-flow: row-reverse;
}

.container {
    padding: 6em;
    .container {
        width: 500px;
        margin: 50px auto 0;
        text-align: center
    }
    /*Styling Selectbox*/
    .dropdown {
        width: 30%;
        margin: 0 4em;
        display: inline-block;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .25s ease-in-out;
        position: relative;
        box-shadow: 0 2px 2px 0 rgba(191, 191, 191, 0.35);
        border-radius: 2px;
        font-family: 'Open Sans';
        font-size: 14px;
        color: $dark;
        height: 100%;
        text-align: left;
        padding: 1em;
    }
    .dropdown .select {
        cursor: pointer;
        display: block;
        padding: 10px
    }
    .dropdown:focus {
        outline: none;
    }
    .dropdown .select>i {
        font-size: 13px;
        color: #888;
        cursor: pointer;
        transition: all .25s ease-in-out;
        float: right;
        line-height: 20px
    }
    .dropdown:hover {
        box-shadow: 0 0 4px rgb(204, 204, 204)
    }
    .dropdown:active {
        background-color: #f8f8f8
    }
    .dropdown.active:hover,
    .dropdown.active {
        box-shadow: 0 0 4px rgb(204, 204, 204);
        border-radius: 2px 2px 0 0;
        background-color: #f8f8f8
    }
    .dropdown.active .select>i {
        transform: rotate(-90deg)
    }
    .dropdown .dropdown-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 1px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        border-radius: 0 1px 2px 2px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9
    }
    .dropdown .dropdown-menu li {
        padding: 10px;
        transition: all .25s ease-in-out;
        cursor: pointer
    }
    .dropdown .dropdown-menu {
        padding: 0;
        list-style: none
    }
    .dropdown .dropdown-menu li:hover {
        background-color: rgba($main, 0.1);
        color: $main;
    }
    .dropdown .dropdown-menu li:active {
        background-color: #e2e2e2
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include placeholder {
            opacity: 0.5;
            font-family: 'Open Sans';
            font-size: 14px;
            color: $dark;
        }
        input {
            padding: 1em 2em;
            border: none;
            outline: none;
            background: #FFFFFF;
            box-shadow: 0 2px 2px 0 rgba(191, 191, 191, 0.35);
            border-radius: 2px;
            font-family: 'Open Sans';
            font-size: 18px;
            color: $dark;
            width: 50%;
        }
        button {
            font-family: 'Open Sans';
            font-weight: bold;
            font-size: 1em;
            padding: 0.5em 1em;
            background: $main;
            border-radius: 2.5px;
            color: #FFFFFF;
            border: none;
            outline: none;
        }
    }
    .features {
        display: flex;
        flex-direction: row;
        padding: 3em 0;
        .sidebar {
            height: 100%;
            background: #FFFFFF;
            display: inline-block;
            box-shadow: 0 4px 4px 0 rgba(233, 233, 233, 0.49);
            padding: 2em;
            margin: 0em 2em 0 0;
            .filter {
                margin-bottom: 4em;
                h2 {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 1em;
                    color: $dark;
                    margin-bottom: 0.8em;
                }
                ul {
                    li {
                        font-family: 'Open Sans';
                        font-size: 0.9em;
                        color: $dark;
                        margin-bottom: 0.8em;
                    }
                }
                @include placeholder {
                    opacity: 0.5;
                    font-family: 'Open Sans';
                    font-size: 12px;
                    color: $dark;
                }
                input[type="text"] {
                    border: none;
                    padding: 4px;
                    border-bottom: 1px solid rgba($dark, 0.2);
                    margin-bottom: 0.8em;
                }
                a {
                    font-family: 'Open Sans';
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0.2px;
                    text-decoration: none;
                    font-size: 10px;
                    color: #4A90E2;
                }
                input[type="checkbox"] {
                    -webkit-appearance: none;
                    border: 0.5px solid rgba($dark, 0.5);
                    background-color: #fff;
                    border-radius: 1.5px;
                    padding: 6px;
                    vertical-align: middle;
                    margin-right: 1em;
                }
            }
        }
        .results {
            h3 {
                font-family: 'Open Sans';
                font-size: 16px;
                color: #4D4D4D;
            }
            .search-card {
                padding: 1.5em;
                margin: 2em 0;
                background: #FFFFFF;
                box-shadow: 0 4px 4px 0 rgba(233, 233, 233, 0.49);
                border-radius: 2px;
                a {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 1.2em;
                    color: #4D4D4D;
                    margin-bottom: 0.5em;
                    display: block;
                    text-decoration: none;
                }
                label {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 0.6em;
                    color: rgba($dark, 0.5);
                    letter-spacing: 1.14px;
                    text-transform: uppercase;
                }
                p {
                    margin-top: 1em;
                    font-family: 'Open Sans';
                    font-size: 1em;
                    color: #4D4D4D;
                    em {
                        color: $main;
                        font-weight: bolder;
                        background-color: rgba($main, 0.1);
                        padding: 0.1em 0.2em;
                    }
                }
            }
        }
    }
}
