@import url(reset.css);
/* line 25, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
html {
  background-color: #FCFCFC; }

/* line 29, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
nav {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff !important; }
  /* line 35, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  nav div {
    display: flex;
    flex-direction: row; }
    /* line 38, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    nav div a {
      margin-left: 3em;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 1em;
      color: #4D4D4D;
      text-decoration: none;
      transition-timing-function: ease-in-out;
      transition-duration: 0.25s;
      transition-property: all; }
      /* line 46, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      nav div a:hover {
        color: #FF641D; }

/* line 53, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
header {
  text-align: center;
  padding: 5em;
  background: url(res/search-background.png); }
  /* line 57, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  header h1 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 2em;
    color: #fff; }
  /* line 11, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  header ::-webkit-input-placeholder {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #4D4D4D; }
  /* line 14, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  header :-moz-placeholder {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #4D4D4D; }
  /* line 17, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  header ::-moz-placeholder {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #4D4D4D; }
  /* line 20, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  header :-ms-input-placeholder {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #4D4D4D; }
  /* line 69, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  header input[type="text"] {
    background: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(175, 175, 175, 0.35);
    border-radius: 2px;
    padding: 1.5em 2.5em;
    border: none;
    margin-top: 4em;
    width: 25%;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: all; }
    /* line 78, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    header input[type="text"]:focus {
      outline: none;
      transform: scale(1.05); }

/* line 85, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
.category {
  display: flex;
  margin: 7em 10%;
  flex-direction: row;
  justify-content: space-between; }
  /* line 90, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  .category .info {
    width: 60%; }
    /* line 92, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .category .info h2 {
      font-family: 'Open Sans';
      font-size: 1.5em;
      color: #FF5000;
      margin-bottom: 1em; }
    /* line 98, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .category .info h3 {
      font-family: 'Open Sans';
      font-size: 0.9em;
      color: #4D4D4D;
      line-height: 24px;
      margin-bottom: 2em; }
    /* line 105, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .category .info a {
      text-decoration: none;
      padding: 1em;
      font-family: 'Open Sans';
      font-size: 0.8em;
      font-weight: 700;
      color: #FFFFFF;
      background-color: #FF641D;
      display: inline-block;
      border-radius: 2px; }

/* line 119, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
.category:nth-child(even) {
  flex-flow: row-reverse; }

/* line 123, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
.container {
  padding: 6em; }
  /* line 125, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  .container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    /* line 11, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .container form ::-webkit-input-placeholder {
      opacity: 0.5;
      font-family: 'Open Sans';
      font-size: 14px;
      color: #4D4D4D; }
    /* line 14, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .container form :-moz-placeholder {
      opacity: 0.5;
      font-family: 'Open Sans';
      font-size: 14px;
      color: #4D4D4D; }
    /* line 17, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .container form ::-moz-placeholder {
      opacity: 0.5;
      font-family: 'Open Sans';
      font-size: 14px;
      color: #4D4D4D; }
    /* line 20, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .container form :-ms-input-placeholder {
      opacity: 0.5;
      font-family: 'Open Sans';
      font-size: 14px;
      color: #4D4D4D; }
    /* line 136, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .container form input {
      padding: 1em 2em;
      border: none;
      outline: none;
      background: #FFFFFF;
      box-shadow: 0 2px 2px 0 rgba(191, 191, 191, 0.35);
      border-radius: 2px;
      font-family: 'Open Sans';
      font-size: 18px;
      color: #4D4D4D;
      width: 50%; }
    /* line 148, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .container form button {
      font-family: 'Open Sans';
      font-weight: bold;
      font-size: 1em;
      padding: 0.5em 1em;
      background: #FF641D;
      border-radius: 2.5px;
      color: #FFFFFF;
      border: none;
      outline: none; }
  /* line 160, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
  .container .sidebar {
    background: #FFFFFF;
    display: inline-block;
    box-shadow: 0 4px 4px 0 rgba(233, 233, 233, 0.49);
    padding: 2em;
    margin: 3em 2em 0 0; }
    /* line 166, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
    .container .sidebar .filter {
      margin-bottom: 4em; }
      /* line 168, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter h2 {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 1em;
        color: #4D4D4D;
        margin-bottom: 0.8em; }
      /* line 176, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter ul li {
        font-family: 'Open Sans';
        font-size: 0.9em;
        color: #4D4D4D;
        margin-bottom: 0.8em; }
      /* line 11, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter ::-webkit-input-placeholder {
        opacity: 0.5;
        font-family: 'Open Sans';
        font-size: 12px;
        color: #4D4D4D; }
      /* line 14, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter :-moz-placeholder {
        opacity: 0.5;
        font-family: 'Open Sans';
        font-size: 12px;
        color: #4D4D4D; }
      /* line 17, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter ::-moz-placeholder {
        opacity: 0.5;
        font-family: 'Open Sans';
        font-size: 12px;
        color: #4D4D4D; }
      /* line 20, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter :-ms-input-placeholder {
        opacity: 0.5;
        font-family: 'Open Sans';
        font-size: 12px;
        color: #4D4D4D; }
      /* line 189, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter input[type="text"] {
        border: none;
        padding: 4px;
        border-bottom: 1px solid rgba(77, 77, 77, 0.2);
        margin-bottom: 0.8em; }
      /* line 195, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter a {
        font-family: 'Open Sans';
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        text-decoration: none;
        font-size: 10px;
        color: #4A90E2; }
      /* line 204, /Users/Abhishek/Playground/soc18/learn-astropy/style.scss */
      .container .sidebar .filter input[type="checkbox"] {
        -webkit-appearance: none;
        border: 0.5px solid rgba(77, 77, 77, 0.5);
        background-color: #fff;
        border-radius: 1.5px;
        padding: 6px;
        vertical-align: middle;
        margin-right: 1em; }

/*# sourceMappingURL=style.css.map */