@import "reset.css";
$main: #FF641D;
$dark: #4D4D4D;
@mixin animation {
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: all;
}

@mixin placeholder {
     ::-webkit-input-placeholder {
        @content
    }
     :-moz-placeholder {
        @content
    }
     ::-moz-placeholder {
        @content
    }
     :-ms-input-placeholder {
        @content
    }
}

@include placeholder {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-size: 14px;
    color: $dark;
}

nav {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        flex-direction: row;
        a {
            margin-left: 3em;
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 1em;
            color: $dark;
            text-decoration: none;
            @include animation;
            &:hover {
                color: $main;
            }
        }
    }
}

header {
    text-align: center;
    padding: 5em;
    background: url(res/search-background.png);
    h1 {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 2em;
        color: #fff;
    }
    input[type="text"] {
        background: #FFFFFF;
        box-shadow: 0 10px 20px 0 rgba(175, 175, 175, 0.35);
        border-radius: 2px;
        padding: 1.5em 2.5em;
        border: none;
        margin-top: 4em;
        width: 25%;
        @include animation;
        &:focus {
            outline: none;
            transform: scale(1.05);
        }
    }
}

.category {
    display: flex;
    margin: 7em 10%;
    flex-direction: row;
    justify-content: space-between;
    .info {
        width: 60%;
        h2 {
            font-family: 'Open Sans';
            font-size: 1.5em;
            color: #FF5000;
            margin-bottom: 1em;
        }
        h3 {
            font-family: 'Open Sans';
            font-size: 0.9em;
            color: $dark;
            line-height: 24px;
            margin-bottom: 2em;
        }
        a {
            text-decoration: none;
            padding: 1em;
            font-family: 'Open Sans';
            font-size: 0.8em;
            font-weight: 700;
            color: #FFFFFF;
            background-color: $main;
            display: inline-block;
            border-radius: 2px;
        }
    }
}
.category:nth-child(even){
    flex-flow: row-reverse;
}
